
body {
	font-family: var(--readable-font), sans-serif;
	color: var(--text-color);
	background: var(--grey-e-color);
}

a {
	text-decoration: none;
	color: var(--accent-color);
}

a:hover {
	color: var(--accent-color-lighter);
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--fantasy-font), sans-serif;
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
	margin: 0;
}