
#header,
#header .logo,
#header::before,
#header .navbar { transition: all 1s }

#header {
	top: var(--topbar-height, 0);
	height: 70px;
	z-index: 997;
	transition: all 0.5s;
	padding: 10px 0;
	background: var(--header-color);
}

#header.header-transparent {
	background: transparent;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
	
    background: var(--header-color);
    backdrop-filter: var(--header-effect);
    
	transform: translateY(-120px);
	
	transform: scale(2);
    backdrop-filter: none;
    opacity: 0;
}
.scrolled #header::before {
    transform: translateY(0px);
	opacity: 1;
    backdrop-filter: var(--header-effect);
}
.scrolled #header {
	top: 0;
}

/* mode: sticky-top */

#header.sticky-top {
	--offset: 500px;
	margin-top: var(--offset);
	margin-bottom: calc(calc(-1 * var(--offset)) - 70px);
	/* top: 130px; */
}

#header.sticky-top > .container-fluid {
	flex-wrap: wrap;
}
#header.sticky-top .logo {
	flex: 0 0 100%;
	height: 0;
	opacity: 0;
	transform: translate(100px, -100px);
	pointer-events: none;
}
#header.sticky-top .navbar {
	width: 485px;
	margin: auto;
	place-content: flex-end;
}
#header.sticky-top.header-stuck .logo {
	opacity: 1;
	transform: translate(0px, 5px);
	pointer-events: all;
}
#header.sticky-top.header-stuck .navbar {
	width: 100%;
}



#header .logo h1 {
	font-size: 28px;
	margin: 0;
	line-height: 1;
	font-weight: 700;
}

#header .logo h1 a,
#header .logo h1 a:hover {
	color: var(--white-color);
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
}


/* Call to action button Menu */

#header .call-to-action {
	background: var(--accent-color);
	color: var(--white-color);
	border-radius: 50px;
	margin: 0 0 0 20px;
	padding: 10px 25px;
	/* font-size: 13px;
	font-weight: 500; */
	letter-spacing: 1px;
	transition: 0.3s;
	white-space: nowrap;
}

#header .call-to-action:hover {
	background: var(--accent-color-darker);
	color: var(--white-color);
}

@media (max-width: 992px) {
	#header .call-to-action {
		margin: 0 15px 0 0;
		padding: 8px 20px;
		letter-spacing: 1px;
	}
}