
section {
	padding: 60px 0;
	margin: 500px 0;
	background: transparent;
}
section.hero { margin: 0 }
section:last-child { margin-bottom: 0 }
section:first-child { margin-top: 0 }
section:first-child {
	padding-top: calc( var(--topbar-height) + var(--header-height) + var(--scrolled-offset) );
}
.gallery section {
	margin: 0;
}
section .content {
	background: var(--header-color);
	padding: 40px 80px;
}
section .content .h1,
section .content .h2,
section .content .h3,
section .content .h4,
section .content .h5,
section .content .h6,
section .content h1,
section .content h2,
section .content h3,
section .content h4,
section .content h5,
section .content h6 
{
	margin-bottom: 1.5rem;
}

.solid,
.theme-light .solid {
	background-color: var(--card-color);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	padding: 30px;
}
.theme-dark .solid {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}


.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	margin: 15px 0 0 0;
	font-size: 32px;
	font-weight: 700;
	color: var(--c8-color);
}

.section-title h2 strong {
	color: var(--accent-color);
}

.section-title p {
	margin: 15px auto 0 auto;
	font-weight: 300;
}

@media (min-width: 1024px) {
	.section-title p {
		width: 50%;
	}
}




section .content h3 {
	font-weight: 400;
	font-size: 34px;
	color: var(--c8-color);
}

section .content h4 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 5px;
}

section .content {
	font-size: 15px;
	color: var(--text-color);
}

section .content ul {
	/* list-style: none; */
	padding: 0;
}

/* section .content ul li + li {
	margin-top: 15px;
} */

section .content ul li {
	/* position: relative; */
	list-style: square;
	margin-left: 3em;
}

section .content ul i {
	font-size: 20px;
	color: var(--accent-color);
	position: absolute;
	left: 0;
	top: 2px;
}

section .content p:last-child {
	margin-bottom: 0;
}


@media (max-width: 1024px) {
	section .content, section .accordion-list {
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media (max-width: 992px) {
	section .content, section .accordion-list {
		padding-left: 1em;
		padding-right: 1em;
	}
	section .content {
		padding-top: 30px;
	}
	section .accordion-list {
		padding-bottom: 30px;
	}
}
