/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");


:root, .theme-light {
	--readable-font: "Fira Sans";
	--fantasy-font: "Dosis";
	/* --logo-font: "Indie Flower"; */
	--speach-font: "Comic Neue";

	
	--accent-color:           hsl(36, 100%, 62%);
	--accent-color-h:         36;
	--accent-color-s:         100%;
	--accent-color-l:         62%;
	--accent-color-hs:        var(--accent-color-h), var(--accent-color-s);
	--accent-color-sl:        var(--accent-color-s), var(--accent-color-l);
	--accent-color-hsl:       var(--accent-color-h), var(--accent-color-s), var(--accent-color-l);
	--accent-color:           hsl(var(--accent-color-hsl));
	--accent-color-cpl:       hsl(calc(var(--accent-color-h) + 180),var(--accent-color-sl));
	
	--accent-color-G1:        hsl(var(--accent-color-hs), 10% );
	--accent-color-G2:        hsl(var(--accent-color-hs), 20% );
	--accent-color-G3:        hsl(var(--accent-color-hs), 30% );
	--accent-color-G4:        hsl(var(--accent-color-hs), 40% );
	--accent-color-G5:        hsl(var(--accent-color-hs), 50% );
	--accent-color-G6:        hsl(var(--accent-color-hs), 60% );
	--accent-color-G7:        hsl(var(--accent-color-hs), 70% );
	--accent-color-G8:        hsl(var(--accent-color-hs), 80% );
	--accent-color-G9:        hsl(var(--accent-color-hs), 90% );

    --light-threshold:        10%;
    --dark-threshold:         calc(var(--light-threshold) * -1);
	--accent-color-darker:    hsl(var(--accent-color-hs), calc(var(--accent-color-l) + var(--dark-threshold)) );
	--accent-color-lighter:   hsl(var(--accent-color-hs), calc(var(--accent-color-l) + var(--light-threshold)) );

	
	/* --accent-color:         hsl(274, 66%, 58%);
	--accent-color-h:         274;
	--accent-color-s:         66%;
	--accent-color-l:         58%; */

	--solid-color: rgba(26, 24, 22, 0.8);

	--topbar-height: 50px;
	--topbar-color: var(--solid-color);
	--topbar-text-color: rgba(255, 255, 255, 0.7);
	--header-color: var(--solid-color);
	--header-effect: none;
	
	--hero-bg-color: rgba(39, 37, 34, 0.8);

	--card-color: var(--white-color);

	--footer-color: #35322d;

	--black-color:  #000000;
	--grey-1-color: #111111;
	--grey-2-color: #222222;
	--grey-3-color: #333333;
	--grey-4-color: #444444;
	--grey-5-color: #555555;
	--grey-6-color: #666666;
	--grey-7-color: #777777;
	--grey-8-color: #848484;
	--grey-8-color: #888888;
	--grey-9-color: #999999;
	--grey-a-color: #aaaaaa;
	--grey-b-color: #bbbbbb;
	--grey-c-color: #cccccc;
	--grey-d-color: #dddddd;
	--grey-e-color: #eeeeee;
	--white-color:  #ffffff;

	--ko-color: #ed3c0d;
	--ok-color: #18d26e;


	--c28-color: #46423b;
	--link-color:  #433f39;
	--c7-color:  var(--link-color);
	--c8-color:  #5f5950;
	/* --c24-color: #7a7368; */
	--c14-color: #6c665c;
	--c18-color: #948c81;
	--c10-color: #6c757d;
	--c16-color: #dad8d4;
	--c19-color: #e8e7e4;
	--c9-color:  #f2f1ef;
	--c11-color: #fffaf3;
	/* --c26-color: #fff6e8; */

}
.theme-dark {
	
	/* --black-color: var(--white-color); */
	--grey-1-color: #eee;
	--grey-2-color: #ddd;
	--grey-3-color: #ccc;
	--grey-4-color: #bbb;
	--grey-5-color: #aaa;
	--grey-6-color: #999;
	--grey-7-color: #888;
	--grey-8-color: #777;
	--grey-9-color: #666;
	--grey-a-color: #555;
	--grey-b-color: #444;
	--grey-c-color: #333;
	--grey-d-color: #222;
	--grey-e-color: #111;
	/* --white-color: var(--black-color); */

	--card-color: var(--solid-color);

	--c8-color: #fff;
	--grey-8-color: #e8e7e4;
	--grey-4-c:olor: #f00;
}
.theme-dark .content,
.theme-dark .section-title {
	text-shadow: 0 2px 2px black, 0 2px 6px rgba(0,0,0,0.5);
}
